body {
    /*position: center;*/
    text-align: center;
}

html {
    background-color: #6381c1;
}

.container {
    width: 50%;
    margin: auto;
    padding: 2% 5px 10px 5px;
}

.white-keys kbd {
    margin: 0;
    width: 65px;
    height: 150px;
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-color: black;
}

.black-keys kbd {
    height: 100px;
    width: 20px;
    background-color: black;
    display: inline-block;
    border-style: solid;
    border-color: black;
    color: white;
}